@import './base.scss';

.article {
  /*
  * The article grid is defined this way to optimize readability:
  * Sidebar | Content | Free space
  * 17%     | 66%     | 17%
  */
  flex: 1 0 auto;
}

@media (min-width: 1024px) {
  .article {
    flex: 1 0 66%;
    max-width: 66%;
    min-width: 640px;
    padding: 0 30px;
  }
}

.article-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .article-container {
    flex-direction: row;
  }
}

.article-header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .article-header {
    flex-direction: row;
    margin-top: 0;
  }
}

.article-author {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .article-title {
    flex-basis: 100%;
    /* Take entire row */
  }
}

.article-title .icon-lock::before {
  content: "\1F512";
  font-size: 20px;
  position: relative;
  left: -5px;
  vertical-align: baseline;
}

.article [role="button"] {
  flex-shrink: 0;
  /*Avoid collapsing elements in Safari (https://github.com/philipwalton/flexbugs#1-minimum-content-sizing-of-flex-items-not-honored)*/
  width: 100%;
}

@media (min-width: 768px) {
  .article [role="button"] {
    width: auto;
  }
}

.article-info {
  max-width: 100%;
}

.article-meta {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.article-body {
    img {
        height: auto;
        max-width: 100%;
    }

    ul {
        padding-left: 20px;
        list-style-type: disc;
        list-style-position: outside;
        margin: 20px 0 20px 20px;
    }

    ol {
        padding-left: 20px;
        list-style-position: outside;
        margin: 20px 0 20px 20px;
    }

    a:visited {
        color: darken($color-link, 20%);
    }

    code {
        background: darken($color-background-light, 3%);
        border: 1px solid #ddd;
        border-radius: 3px;
        padding: 0 5px;
        margin: 0 2px;
    }

    pre {
        background: darken($color-background-light, 3%);
        border: 1px solid #ddd;
        border-radius: 3px;
        padding: 10px 15px;
        overflow: auto;
        white-space: pre;
    }

    blockquote {
        border-left: 1px solid #ddd;
        color: lighten($color-text-on-light, 20%);
        font-style: italic;
        padding: 0 15px;
    }

}

[dir="rtl"] .article-body ul,
[dir="rtl"] .article-body ol {
  padding-right: 20px;
  padding-left: 0;
  margin-left: 0;
  margin-right: 20px;
}

.article-body ul > ul,
.article-body ol > ol,
.article-body ol > ul,
.article-body ul > ol,
.article-body li > ul,
.article-body li > ol {
  margin: 0;
}

.article-body > p:last-child {
  margin-bottom: 0;
}

.article-content {
  line-height: 1.6;
  margin: 40px 0;
  word-wrap: break-word;
}

.article-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.article-comment-count {
  color: lighten($color-text-on-light, 20%);
  font-weight: 300;

  &:hover {
      text-decoration: none;
  }

  .icon-comments {
      color: $color-primary;
      content: "\1F4AC";
      display: inline-block;
      font-size: 18px;
      padding: 5px;
  }

}

.article-sidebar {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  flex: 1 0 auto;
  margin-bottom: 20px;
  padding: 0;
}

@media (min-width: 1024px) {
  .article-sidebar {
    border: 0;
    flex: 0 0 17%;
    height: auto;
  }
}

.article-relatives {
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

@media (min-width: 768px) {
  .article-relatives {
    flex-direction: row;
  }
}

.article-relatives > * {
  flex: 1 0 auto;
  margin-right: 0;
}

.article-relatives > *:last-child {
  margin: 0;
}

@media (min-width: 768px) {
  .article-relatives > * {
    margin-right: 20px;
  }
}

.article-votes {
  border-top: 1px solid #ddd;
  padding: 30px 0;
  text-align: center;
}

.article-vote {
  background: transparent;
  border: 1px solid $color-primary;
  color: $color-primary;
  margin: 10px 5px;
  min-width: 90px;
  width: auto;

  &:before {
      font-size: 8px;
      margin-right: 10px;
  }

  &:after {
      content: attr(title);
      /* Yes/No label*/
  }

  &:hover {
      color: $color-primary;

      &:before {
          color: $color-primary;
      }

      &:after {
          color: $color-primary;
      }

  }

  &:focus {
      background-color: transparent;
      color: $color-primary;
  }

  &:active {
      background-color: transparent;
      color: $color-primary;
  }

}
.article-vote[aria-selected="true"]::before,
.article-vote[aria-selected="true"]::after {
  color: $color-text-on-dark;
}


[dir="rtl"] .article-vote::before {
  margin-right: 0;
  margin-left: 10px;
}

.article-vote-up::before {
  content: "\2713";
}

.article-vote-down::before {
  content: "\2715";
}

.article-more-questions {
  margin: 10px 0 20px;
  text-align: center;
}

.article-return-to-top {
  border-top: 1px solid #ddd;

  a {
      color: $color-text-on-light;
      display: block;
      padding: 20px 0;

      &:focus,
      &:hover {
          text-decoration: none;
      }

  }

  .icon-arrow-up::before {
      font-size: 16px;
      margin-left: 5px;
  }


}

@media (min-width: 1024px) {
  .article-return-to-top {
    display: none;
  }
}


[dir="rtl"] .article-return-to-top .icon-arrow-up::before {
  margin-right: 10px;
}

.article-unsubscribe {
  background-color: $color-primary;
  color: $color-text-on-dark;
  text-decoration: none;

  &:hover {
      background-color: darken($color-primary, 20%);
      border-color: darken($color-primary, 20%);
  }

}

.sidenav-title {
  font-size: 15px;
  position: relative;
}

.sidenav-item {
  border-radius: 4px;
  color: $color-text-on-light;
  display: block;
  font-weight: 300;
  margin-bottom: 10px;
  padding: 10px;
}

.sidenav-item.current-article, .sidenav-item:hover {
  background-color: $color-primary;
  color: $color-text-on-dark;
  text-decoration: none;
}

.recent-articles h3,
.related-articles h3 {
  font-size: 15px;
  margin: 20px 0;
}

.recent-articles li,
.related-articles li {
  margin-bottom: 15px;
}

/***** Promoted articles *****/
.promoted-articles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (min-width: 1024px) {
  .promoted-articles {
    flex-direction: row;
  }
}

.promoted-articles-item {
  flex: 1 0 auto;

  &:nth-child(3n) {
      padding-right: 0;
  }

  a {
      border-bottom: 1px solid #ddd;
      color: $color-text-on-light;
      display: block;
      padding: 15px 0;
  }

  &:last-child a {
      border: 0;
  }

}

@media (min-width: 1024px) {
  .promoted-articles-item {
    align-self: flex-end;
    flex: 0 0 auto;
    padding-right: 30px;
    width: 33%;
    /* Three columns on desktop */
  }
  [dir="rtl"] .promoted-articles-item {
    padding: 0 0 0 30px;
  }
}

@media (min-width: 1024px) {
  .promoted-articles-item:last-child a {
    border-bottom: 1px solid #ddd;
  }
}

.share {
  padding: 0;
  white-space: nowrap;

  li {
      display: inline-block;
  }

  a {
      border-radius: 50%;
      display: inline-block;
      height: 25px;
      line-height: 25px;
      overflow: hidden;
      width: 25px;

      &:before {
          color: lighten($color-text-on-light, 20%);
          display: block;
          font-size: 23px;
          text-align: center;
          width: 100%;
      }

      &:hover {
          text-decoration: none;

          &:before {
              color: $color-primary;
          }

      }


  }

}

.share-twitter::before {
  content: "\e901";
}

.share-facebook::before {
  content: "\e903";
}

.share-linkedin::before {
  content: "\e900";
}

.share-googleplus::before {
  content: "\e902";
}


