@import './base.scss';

/***** Category pages *****/
.category-container {
  display: flex;
  justify-content: flex-end;
}

.category-content {
  flex: 1;
  color: $color-primary;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .category-content {
    flex: 0 0 80%;
  }
}
