@import './base.scss';

.form {
  max-width: 650px;
}

.form-field {
    & ~ .form-field {
        margin-top: 25px;
    }

    label {
        display: block;
        font-size: 13px;
        margin-bottom: 5px;
    }

    input {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 10px;
        width: 100%;

        &:focus {
            border: 1px solid $color-primary;
        }

        input[type="text"] {
            border: 1px solid #ddd;
            border-radius: 4px;

            &:focus {
                border: 1px solid $color-primary;
            }
        }

        input[type="checkbox"] {
            width: auto;
        }

        .nesty-input {
            border-radius: 4px;
            height: 40px;
            line-height: 40px;
            outline: none;
            vertical-align: middle;

            &:focus {
                border: 1px solid $color-primary;
                text-decoration: none;
            }
        }

        textarea {
            vertical-align: middle;
        }

        p {
            color: lighten($color-text-on-light, 20%);
            font-size: 12px;
            margin: 5px 0;
        }
    }
}

.form-field input[type="checkbox"] + label {
  margin: 0 0 0 10px;
}

.form-field.required > label::after {
  content: "*";
  color: #f00;
  margin-left: 2px;
}

[data-loading="true"] input,
[data-loading="true"] textarea {
  background: transparent url("../assets/dropdown-arrow.svg") 99% 50% no-repeat;
  background-size: 16px 16px;
}

.form {
    footer {
        margin-top: 40px;
        padding-top: 30px;

        a {
            color: lighten($color-text-on-light, 20%);
            cursor: pointer;
            margin-right: 15px;
        }
    }

    .suggestion-list {
        font-size: 13px;
        margin-top: 30px;

        label {
            border-bottom: 1px solid #ddd;
            display: block;
            padding-bottom: 5px;
        }

        li {
            padding: 10px 0;

            a:visited {
                color: darken($color-link, 20%);
            }
        }
    }
}

