@import './base.scss';

/***** My activities *****/
.my-activities-nav {
  background-color: darken($color-background-light, 5%);
  border: 0;
  margin-bottom: 20px;
}

.my-activities-sub-nav {
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;

  li[aria-selected="true"] {
      border-color: $color-primary;
  }

}

@media (min-width: 768px) {
  .my-activities-sub-nav li:hover {
    border-bottom: 4px solid #ddd;
  }
}

.my-activities-table .striped-list-title {
  /* My activities tables */
  display: block;
  margin-bottom: 10px;
  max-width: 350px;
  white-space: normal;
}

@media (min-width: 1024px) {
  .my-activities-table .striped-list-title {
    margin-bottom: 0;
    max-width: 500px;
    min-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.my-activities-table thead {
  display: none;
}

@media (min-width: 768px) {
  .my-activities-table thead {
    display: table-header-group;
  }
}

.my-activities-table th:first-child,
.my-activities-table td:first-child {
  padding-left: 0;
}

@media (min-width: 1024px) {
  .my-activities-table th:first-child,
  .my-activities-table td:first-child {
    width: 500px;
  }
}

.my-activities-table th:last-child,
.my-activities-table td:last-child {
  padding-right: 0;
}

.my-activities-table td:not(:first-child) {
  display: none;
}

@media (min-width: 768px) {
  .my-activities-table td:not(:first-child) {
    display: table-cell;
  }
}

/* Requests table */
.requests-search {
  width: 100%;
}

.requests-table-toolbar {
  align-items: flex-end;
  display: flex;
  flex-direction: column; 
  .search {
      flex: 1;
      width: 100%;
  }

  .request-table-filter {
      width: 100%;
  }

  .request-filter {
      display: block;
  }

  .request-filter-label {
      font-size: 13px;
      margin-top: 30px;
  }

  select {
      max-height: 40px;
      margin-bottom: 30px;
      width: 100%;
  }

  .organization-subscribe {
      line-height: 40px;
      max-height: 40px;
      padding: 0 20px;
  }

  .organization-unsubscribe {
      line-height: 40px;
      max-height: 40px;
      padding: 0 20px;
      background-color: $color-primary;
      color: $color-text-on-light;

  }

}

@media (min-width: 768px) {
  .requests-table-toolbar {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .requests-table-toolbar .request-table-filter {
    width: auto;
  }
}

@media (min-width: 768px) {
  .requests-table-toolbar .request-filter {
    margin: 0 0 0 30px;
  }
  [dir="rtl"] .requests-table-toolbar .request-filter {
    margin: 0 30px 0 0;
  }
}

@media (min-width: 768px) {
  .requests-table-toolbar .request-filter-label {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .requests-table-toolbar select {
    margin-bottom: 0;
    max-width: 300px;
    width: auto;
  }
}

@media (min-width: 768px) {
  .requests-table-toolbar .organization-subscribe,
  .requests-table-toolbar .organization-unsubscribe {
    margin-left: 10px;
  }
  [dir="rtl"] .requests-table-toolbar .organization-subscribe, [dir="rtl"]
  .requests-table-toolbar .organization-unsubscribe {
    margin: 0 10px 0 0;
  }
}

.requests-table-toolbar + .requests-search-info {
  margin-top: 15px;
}

.requests-table-toolbar + .requests-search-info.meta-data::after {
  content: "";
  margin: 0;
}

.requests-table-toolbar + .requests-search-info + .requests {
  margin-top: 20px;
}

.requests-table-toolbar + .requests {
  margin-top: 40px;
}

.requests {
    .requests-table-meta {
        display: block;
    }

    .requests-table {
        thead {
            display: none;
        }

        .requests-link {
            position: relative;
        }

        .requests-sort-symbol {
            position: absolute;
            left: calc(100% + 3px);
            bottom: 0;
            font-size: 10px;
        }
    }
    .requests-table-info {
        display: block;
    }


}

@media (min-width: 768px) {
  .requests .requests-table-meta {
    display: none;
  }
}

@media (min-width: 768px) {
  .requests .requests-table thead {
    display: table-header-group;
  }
}

@media (min-width: 768px) {
  .requests .requests-table-info {
    display: table-cell;
    vertical-align: middle;
    width: auto;
  }
}

/* Following table */
.subscriptions-unsubscribe a {
  background: $color-primary;
  border-radius: 4px;
  color: $color-text-on-dark;
  display: inline-block;
  font-size: 12px;
  line-height: 2.34;
  padding: 0 20px;
  text-align: center;
  width: 100%;

  &:hover {
      background-color: darken($color-primary, 20%);
      text-decoration: none;
  }

}

@media (min-width: 768px) {
  .subscriptions-unsubscribe a {
    width: auto;
  }
}

.subscriptions-table {
    td:last-child {
        display: block;
    }

    td:first-child {
        display: flex;
        align-items: center;
    }

    .user-avatar {
        margin-right: 10px;
    }


}
@media (min-width: 768px) {
  .subscriptions-table td:last-child {
    display: table-cell;
  }
}

.subscriptions .striped-list-title {
  display: inline-block;
  vertical-align: middle;
}

/* Contributions table */
.contributions-table td:last-child {
  color: lighten($color-text-on-light, 20%);
  font-size: 13px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .contributions-table td:last-child {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
}

.no-activities {
  color: lighten($color-text-on-light, 20%);
}

/***** Request *****/
.request-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  .comment-container {
      min-width: 0;
  }

}

@media (min-width: 1024px) {
  .request-container {
    align-items: flex-start;
    flex-direction: row;
  }
}

.request-breadcrumbs {
  margin-bottom: 40px;
}

@media (min-width: 1024px) {
  .request-breadcrumbs {
    margin-bottom: 60px;
  }
}

.request-main {
  flex: 1 0 auto;
  order: 1;
}

.request-main .comment-fields,
.request-main .request-submit-comment {
  display: none;
}

.request-main .comment-fields.shown {
  display: block;
}

.request-main .request-submit-comment.shown {
  display: inline;
}

@media (min-width: 1024px) {
  .request-main {
    flex: 0 0 66%;
    order: 0;
    min-width: 0;
  }
}

.request-main .comment-form-controls {
  display: block;
}

.request-main .comment-ccs {
  display: block;
}

.request-main .comment-show-container {
  border-radius: 2px;
  border: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  padding: 8px 15px;
  width: 100%;
}

.request-main .comment-show-container.hidden {
  display: none;
}

.request-main .comment-show-container-content {
  align-self: center;
  color: lighten($color-text-on-light, 20%);
  margin-left: 10px;
}

.request-main .form-field.comment-ccs > ul {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.request-main .form-field.comment-ccs > ul[data-hc-focus="true"] {
  border: 1px solid $color-primary;
}

.request-main .form-field.comment-ccs > input[type="text"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.request-main .comment-ccs + textarea {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
}

.request-main .comment-ccs + textarea:focus {
  border-top: 1px solid $color-primary;
}

.request-main input#mark_as_solved {
  display: none;
}

.request-title {
  width: 100%;
}

@media (min-width: 1024px) {
  .request-title {
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    max-width: 66%;
    padding-bottom: 20px;
  }
}

.request-sidebar {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  flex: 1 0 auto;
  order: 0;

  h5 {
      font-size: 15px;
      font-weight: 600;
      position: relative;
  }

}

@media (min-width: 1024px) {
  .request-sidebar {
    background-color: darken($color-background-light, 3%);
    border: 0;
    font-size: 13px;
    flex: 0 0 auto;
    padding: 0 20px;
    width: 30%;
  }
}

@media (min-width: 1024px) {
  .request-sidebar h5 {
    display: none;
  }
}

.request-details {
  border-bottom: 1px solid #ddd;
  font-size: 0;
  margin: 0;
  padding-bottom: 20px;

  &:last-child {
      border: 0;
  }

  dt {
      display: inline-block;
      vertical-align: top;
      font-size: 13px;
      margin: 20px 0 0 0;
      color: lighten($color-text-on-light, 20%);
      font-weight: 300;
      width: 40%;

  }

  dd {
      display: inline-block;
      vertical-align: top;
      font-size: 13px;
      margin: 20px 0 0 0;
      padding: 0 10px;
      width: 60%;

      &:after {
          content: "\A";
          white-space: pre;
      }

  }

  .request-collaborators {
      display: inline-block;
  }
}

.request-attachments dt {
  margin: 10px 0 0 0;
  width: 100%;
}
.request-attachments dd {
  margin: 10px 0 0 0;
  width: 100%;
}

.request-form textarea {
  min-height: 120px;
}

.request-follow-up {
  padding-top: 20px;
}


