@import './base.scss';

.search {
  position: relative;

  input[type="search"] {
      border: 1px solid #ddd;
      border-radius: 30px;
      box-sizing: border-box;
      color: #999;
      height: 40px;
      padding-left: 40px;
      padding-right: 20px;
      -webkit-appearance: none;
      width: 100%;

      &:focus {
          border: 1px solid $color-primary;
          color: #555;
      }

      &:before {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          background-color: #fff;
          color: #ddd;
          content: "\1F50D";
          font-size: 18px;
          position: absolute;
          left: 15px;
      }
  }
}

[dir="rtl"] .search input[type="search"] {
  padding-right: 40px;
  padding-left: 20px;
}

[dir="rtl"] .search::before {
  right: 15px;
  left: auto;
}

.search-full input[type="search"] {
  border: 1px solid #fff;
}


