@import './base.scss';

/***** Section  pages *****/
.section-tree {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  .section {
      flex: initial;
      margin-top: 20px;
  }

  .icon-lock::before {
      vertical-align: baseline;
  }

  .see-all-articles {
      display: block;
      padding: 15px 0;
  }

}

@media (min-width: 768px) {
  .section-tree {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .section-tree .section {
    flex: 0 0 45%;
    /* Two columns for tablet and desktop. Leaving 5% separation between columns */
  }
}

.section-tree-title {
  margin-bottom: 0;

  a {
      color: $color-text-on-light;
      color: $color-primary;
  }

}

.article-list-item {
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  padding: 15px 0;

  a {
      color: $color-text-on-light;
  }

}

.icon-star::before {
  color: $color-primary;
  font-size: 18px;
}

/***** Section pages *****/
.section-container {
  display: flex;
  justify-content: flex-end;
}

.section-content {
  flex: 1;
  color: $color-primary;
  font-weight: 500;

}

@media (min-width: 1024px) {
  .section-content {
    flex: 0 0 80%;
  }
}

.section-subscribe .dropdown-toggle::after {
  display: none;
  font-weight: 550;
}


