@import './base.scss';

.share {
  padding: 0;
  white-space: nowrap;

  li {
      display: inline-block;
  }

  a {
      display: inline-block;
      border-radius: 50%;
      height: 25px;
      line-height: 25px;
      overflow: hidden;
      width: 25px;

      &:before {
          color: lighten($color-text-on-light, 20%);
          display: block;
          font-size: 23px;
          text-align: center;
          width: 100%;
      }

      &:hover {
          text-decoration: none;

          &:before {
              color: $color-primary;
          }
      }
  }

}

.share-twitter::before {
  content: "\e901";
}

.share-facebook::before {
  content: "\e903";
}

.share-linkedin::before {
  content: "\e900";
}

.share-googleplus::before {
  content: "\e902";
}


