@charset "UTF-8";
* {
  box-sizing: border-box; }

body {
  background-color: #f4f4f4;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

@media (min-width: 1024px) {
  body > main {
    min-height: 65vh; } }
h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin-top: 0; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 18px;
  font-weight: 600; }

h4 {
  font-size: 16px; }

a {
  color: #1676d3;
  text-decoration: none; }

a:hover, a:active, a:focus {
  text-decoration: underline; }

input,
textarea {
  color: #000;
  font-size: 14px; }

input {
  font-weight: 300;
  max-width: 100%;
  box-sizing: border-box;
  outline: none;
  transition: border .12s ease-in-out; }

input:focus {
  border: 1px solid #008975; }

input[disabled] {
  background-color: #ddd; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("../assets/dropdown-arrow.svg") no-repeat #fff;
  background-position: right 10px center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px 30px 8px 10px;
  outline: none;
  color: #555;
  width: 100%; }

select:focus {
  border: 1px solid #008975; }

select::-ms-expand {
  display: none; }

textarea {
  border: 1px solid #ddd;
  border-radius: 2px;
  resize: vertical;
  width: 100%;
  outline: none;
  padding: 10px; }

textarea:focus {
  border: 1px solid #008975; }

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 5%; }

@media (min-width: 1160px) {
  .container {
    padding: 0;
    width: 90%; } }
.container-divider {
  border-top: 1px solid #ddd;
  margin-bottom: 20px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.error-page {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 5%; }

@media (min-width: 1160px) {
  .error-page {
    padding: 0;
    width: 90%; } }
.dropdown-toggle::after {
  color: inherit; }

/***** Community *****/
.community-hero {
  background-image: url("../settings/community_background_image.svg");
  margin-bottom: 10px; }

.community-footer {
  padding-top: 50px;
  text-align: center; }

.community-featured-posts, .community-activity {
  padding-top: 40px;
  width: 100%; }

.community-header {
  margin-bottom: 30px; }

.community-header h4 {
  margin-bottom: 0; }

.post-to-community {
  margin-top: 10px; }

@media (min-width: 768px) {
  .post-to-community {
    margin: 0; } }
/* Community topics grid */
.topics {
  max-width: none;
  width: 100%; }

.topics-item .meta-group {
  justify-content: center;
  margin-top: 20px; }

/* Community topic page */
.topic-header {
  border-bottom: 1px solid #ddd;
  font-size: 13px; }

@media (min-width: 768px) {
  .topic-header {
    padding-bottom: 10px; } }
.topic-header .dropdown {
  display: block;
  border-top: 1px solid #ddd;
  padding: 10px 0; }

@media (min-width: 768px) {
  .topic-header .dropdown {
    border-top: 0;
    display: inline-block;
    margin-right: 20px;
    padding: 0; } }
.no-posts-with-filter {
  margin-top: 20px;
  margin-bottom: 20px; }

/* Topic, post and user follow button */
.community-follow {
  margin-bottom: 10px;
  width: 100%; }

@media (min-width: 768px) {
  .community-follow {
    margin-bottom: 0;
    width: auto; } }
.community-follow .dropdown {
  width: 100%; }

.community-follow [role="button"] {
  line-height: 30px;
  padding: 0 10px 0 15px;
  position: relative;
  width: 100%; }

@media (min-width: 768px) {
  .community-follow [role="button"] {
    width: auto; } }
.community-follow [role="button"]:hover {
  background-color: #008975; }

.community-follow [role="button"]:hover::after, .community-follow [role="button"]:focus::after {
  border-color: rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8); }

.community-follow [role="button"][aria-selected="true"] {
  background-color: #008975;
  color: rgba(255, 255, 255, 0.8); }

.community-follow [role="button"][aria-selected="true"]::after {
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8); }

.community-follow [role="button"][aria-selected="true"]:hover {
  background-color: #00231e;
  border-color: #00231e; }

.community-follow [role="button"]::after {
  border-left: 1px solid #008975;
  content: attr(data-follower-count);
  color: #008975;
  display: inline-block;
  font-family: inherit;
  margin-left: 15px;
  padding-left: 10px;
  position: absolute;
  right: 10px; }

@media (min-width: 768px) {
  .community-follow [role="button"]::after {
    position: static; } }
[dir="rtl"] .community-follow [role="button"]::after {
  border-left: 0;
  border-right: 1px solid #008975;
  margin: 0 10px 0 0;
  padding: 0 10px 0 0; }

/***** Striped list *****/
/* Used in community posts list and requests list */
.striped-list {
  padding: 0; }

.striped-list-item {
  align-items: flex-start;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 0; }

@media (min-width: 768px) {
  .striped-list-item {
    align-items: center;
    flex-direction: row; } }
.striped-list-info {
  flex: 2; }

.striped-list-title {
  color: #1676d3;
  margin-bottom: 10px;
  margin-right: 5px; }

.striped-list-title:hover, .striped-list-title:focus, .striped-list-title:active {
  text-decoration: underline; }

.striped-list-title:visited {
  color: #0c4277; }

.striped-list .meta-group {
  margin: 5px 0; }

.striped-list-count {
  color: rgba(51, 51, 51, 0.8);
  font-weight: 300;
  font-size: 13px;
  justify-content: flex-start;
  text-transform: capitalize; }

@media (min-width: 768px) {
  .striped-list-count {
    display: flex;
    flex: 1;
    justify-content: space-around; } }
.striped-list-count-item::after {
  content: "·";
  display: inline-block;
  padding: 0 5px; }

@media (min-width: 768px) {
  .striped-list-count-item::after {
    display: none; } }
.striped-list-count-item:last-child::after {
  display: none; }

.striped-list-number {
  font-weight: 300;
  text-align: center; }

@media (min-width: 768px) {
  .striped-list-number {
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-weight: 400; } }

/*# sourceMappingURL=community.css.map */
