* {
  box-sizing: border-box; }

body {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

@media (min-width: 1024px) {
  body > main {
    min-height: 65vh; } }
h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin-top: 0; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 18px;
  font-weight: 600; }

h4 {
  font-size: 16px; }

a {
  color: #1676d3;
  text-decoration: none; }

a:hover, a:active, a:focus {
  text-decoration: underline; }

input,
textarea {
  color: #000;
  font-size: 14px; }

input {
  font-weight: 300;
  max-width: 100%;
  box-sizing: border-box;
  outline: none;
  transition: border .12s ease-in-out; }

input:focus {
  border: 1px solid #008975; }

input[disabled] {
  background-color: #ddd; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("../assets/dropdown-arrow.svg") no-repeat #fff;
  background-position: right 10px center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px 30px 8px 10px;
  outline: none;
  color: #555;
  width: 100%; }

select:focus {
  border: 1px solid #008975; }

select::-ms-expand {
  display: none; }

textarea {
  border: 1px solid #ddd;
  border-radius: 2px;
  resize: vertical;
  width: 100%;
  outline: none;
  padding: 10px; }

textarea:focus {
  border: 1px solid #008975; }

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 5%; }

@media (min-width: 1160px) {
  .container {
    padding: 0;
    width: 90%; } }
.container-divider {
  border-top: 1px solid #ddd;
  margin-bottom: 20px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.error-page {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 5%; }

@media (min-width: 1160px) {
  .error-page {
    padding: 0;
    width: 90%; } }
.dropdown-toggle::after {
  color: inherit; }

h1 {
  text-align: center; }

.blocks .blocks-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding: 0; }

@media (min-width: 768px) {
  .blocks-list {
    margin: 0 -15px; } }
.blocks-item {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex: 1 0 340px;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 30px;
  max-width: 100%;
  text-align: center; }
  .blocks-item:hover, .blocks-item:active, .blocks-item:focus {
    text-decoration: none;
    transform: translateY(-1px);
    transition: .2s all ease-in-out;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3); }
    .blocks-item:hover *, .blocks-item:active *, .blocks-item:focus * {
      background-color: inherit;
      color: inherit; }

@media (min-width: 768px) {
  .blocks-item {
    margin: 0 15px 30px; } }
.blocks-item-internal {
  background-color: transparent;
  border: 1px solid #ddd; }

.blocks-item-internal .icon-lock::before {
  content: "\1F512";
  font-size: 15px;
  bottom: 5px;
  position: relative; }
.blocks-item-internal a {
  color: rgba(0, 0, 0, 0.8); }

.blocks-item-title {
  font-weight: 600;
  margin-bottom: 0;
  text-transform: capitalize; }

.blocks-item-link {
  color: rgba(0, 0, 0, 0.7);
  padding: 20px 30px; }
  .blocks-item-link:hover, .blocks-item-link:focus, .blocks-item-link:active {
    text-decoration: none; }
    .blocks-item-link:hover .blocks-item-title, .blocks-item-link:focus .blocks-item-title, .blocks-item-link:active .blocks-item-title {
      color: #008975; }

.blocks-item-description {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  margin: 0; }
  .blocks-item-description:not(:empty) {
    margin-top: 10px; }

/***** Homepage *****/
.section {
  margin-bottom: 40px; }
  .section h2 {
    margin-bottom: 10px;
    text-align: center; }
  @media (min-width: 768px) {
    .section {
      margin-bottom: 60px; } }

.bottom-container {
  display: flex;
  width: 100%;
  /***** Recent activity *****/ }
  .bottom-container .articles-home {
    display: flex;
    flex-direction: column; }
    .bottom-container .articles-home h1 {
      margin-bottom: 0; }
    .bottom-container .articles-home .promoted-articles-home {
      display: flex;
      flex-direction: column; }
      .bottom-container .articles-home .promoted-articles-home .promoted-articles-item-home {
        width: 100%; }
        .bottom-container .articles-home .promoted-articles-home .promoted-articles-item-home a {
          border-bottom: 1px solid #ddd;
          color: rgba(0, 0, 0, 0.8);
          display: block;
          padding: 15px 0; }
        .bottom-container .articles-home .promoted-articles-home .promoted-articles-item-home:last-child a {
          border: 0; }
  .bottom-container .articles-home,
  .bottom-container .activity {
    flex-grow: 1;
    padding: 30px 0;
    padding-right: 48px; }
    .bottom-container .articles-home:last-child,
    .bottom-container .activity:last-child {
      padding-right: 0; }
  @media (max-width: 768px) {
    .bottom-container {
      flex-direction: column; }
      .bottom-container .articles-home {
        padding-right: 0; } }
  .bottom-container .recent-activity-header {
    margin-bottom: 10px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 32px; }
  .bottom-container .recent-activity-list {
    padding: 0; }
  .bottom-container .recent-activity-item {
    border-bottom: 1px solid #ddd;
    padding: 20px 0; }
  .bottom-container .recent-activity-item-parent {
    margin: 6px 0;
    font-size: 16px;
    color: #1676d3;
    display: inline-block;
    width: 100%; }
  @media (min-width: 768px) {
    .bottom-container .recent-activity-item-parent,
    .bottom-container .recent-activity-item-link {
      width: 70%;
      margin: 0; } }
  .bottom-container .recent-activity-item-link {
    font-size: 14px;
    font-weight: 300;
    margin: 6px 0;
    color: #1676d3;
    display: inline-block;
    width: 100%; }
  .bottom-container .recent-activity-item-meta {
    margin: 15px 0 0 0;
    float: none; }
  @media (min-width: 768px) {
    .bottom-container .recent-activity-item-meta {
      margin: 0;
      float: right; }
    .bottom-container [dir="rtl"] .recent-activity-item-meta {
      float: left; } }
  .bottom-container .recent-activity-item-time {
    color: rgba(51, 51, 51, 0.8);
    display: inline-block;
    font-size: 13px;
    font-weight: 300; }
  .bottom-container .recent-activity-item-comment {
    padding-left: 5px;
    color: rgba(51, 51, 51, 0.8);
    display: inline-block;
    font-size: 13px;
    font-weight: 300; }
    .bottom-container .recent-activity-item-comment:before {
      display: inline-block; }
    .bottom-container .recent-activity-item-comment span::before {
      color: #008975;
      content: "\1F4AC";
      display: inline-block;
      font-size: 15px;
      padding-right: 3px;
      vertical-align: middle; }
  .bottom-container [dir="rtl"] .recent-activity-item-comment {
    padding: 0 5px 0 0; }
  .bottom-container [dir="rtl"] .recent-activity-item-comment span::before {
    padding-left: 3px; }
  .bottom-container .recent-activity-controls {
    padding-top: 15px; }

/***** Community section in homepage *****/
.community {
  text-align: center; }
  .community .community-image {
    min-height: 300px;
    height: 300px;
    background-image: url("../settings/community_image.svg");
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%; }

/*# sourceMappingURL=home.css.map */
