* {
  box-sizing: border-box; }

body {
  background-color: #f4f4f4;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

@media (min-width: 1024px) {
  body > main {
    min-height: 65vh; } }
h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin-top: 0; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 18px;
  font-weight: 600; }

h4 {
  font-size: 16px; }

a {
  color: #1676d3;
  text-decoration: none; }

a:hover, a:active, a:focus {
  text-decoration: underline; }

input,
textarea {
  color: #000;
  font-size: 14px; }

input {
  font-weight: 300;
  max-width: 100%;
  box-sizing: border-box;
  outline: none;
  transition: border .12s ease-in-out; }

input:focus {
  border: 1px solid #008975; }

input[disabled] {
  background-color: #ddd; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("../assets/dropdown-arrow.svg") no-repeat #fff;
  background-position: right 10px center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px 30px 8px 10px;
  outline: none;
  color: #555;
  width: 100%; }

select:focus {
  border: 1px solid #008975; }

select::-ms-expand {
  display: none; }

textarea {
  border: 1px solid #ddd;
  border-radius: 2px;
  resize: vertical;
  width: 100%;
  outline: none;
  padding: 10px; }

textarea:focus {
  border: 1px solid #008975; }

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 5%; }

@media (min-width: 1160px) {
  .container {
    padding: 0;
    width: 90%; } }
.container-divider {
  border-top: 1px solid #ddd;
  margin-bottom: 20px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.error-page {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 5%; }

@media (min-width: 1160px) {
  .error-page {
    padding: 0;
    width: 90%; } }
.dropdown-toggle::after {
  color: inherit; }

/***** My activities *****/
.my-activities-nav {
  background-color: #e7e7e7;
  border: 0;
  margin-bottom: 20px; }

.my-activities-sub-nav {
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px; }
  .my-activities-sub-nav li[aria-selected="true"] {
    border-color: #008975; }

@media (min-width: 768px) {
  .my-activities-sub-nav li:hover {
    border-bottom: 4px solid #ddd; } }
.my-activities-table .striped-list-title {
  /* My activities tables */
  display: block;
  margin-bottom: 10px;
  max-width: 350px;
  white-space: normal; }

@media (min-width: 1024px) {
  .my-activities-table .striped-list-title {
    margin-bottom: 0;
    max-width: 500px;
    min-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; } }
.my-activities-table thead {
  display: none; }

@media (min-width: 768px) {
  .my-activities-table thead {
    display: table-header-group; } }
.my-activities-table th:first-child,
.my-activities-table td:first-child {
  padding-left: 0; }

@media (min-width: 1024px) {
  .my-activities-table th:first-child,
  .my-activities-table td:first-child {
    width: 500px; } }
.my-activities-table th:last-child,
.my-activities-table td:last-child {
  padding-right: 0; }

.my-activities-table td:not(:first-child) {
  display: none; }

@media (min-width: 768px) {
  .my-activities-table td:not(:first-child) {
    display: table-cell; } }
/* Requests table */
.requests-search {
  width: 100%; }

.requests-table-toolbar {
  align-items: flex-end;
  display: flex;
  flex-direction: column; }
  .requests-table-toolbar .search {
    flex: 1;
    width: 100%; }
  .requests-table-toolbar .request-table-filter {
    width: 100%; }
  .requests-table-toolbar .request-filter {
    display: block; }
  .requests-table-toolbar .request-filter-label {
    font-size: 13px;
    margin-top: 30px; }
  .requests-table-toolbar select {
    max-height: 40px;
    margin-bottom: 30px;
    width: 100%; }
  .requests-table-toolbar .organization-subscribe {
    line-height: 40px;
    max-height: 40px;
    padding: 0 20px; }
  .requests-table-toolbar .organization-unsubscribe {
    line-height: 40px;
    max-height: 40px;
    padding: 0 20px;
    background-color: #008975;
    color: rgba(0, 0, 0, 0.8); }

@media (min-width: 768px) {
  .requests-table-toolbar {
    flex-direction: row; } }
@media (min-width: 768px) {
  .requests-table-toolbar .request-table-filter {
    width: auto; } }
@media (min-width: 768px) {
  .requests-table-toolbar .request-filter {
    margin: 0 0 0 30px; }

  [dir="rtl"] .requests-table-toolbar .request-filter {
    margin: 0 30px 0 0; } }
@media (min-width: 768px) {
  .requests-table-toolbar .request-filter-label {
    margin-top: 0; } }
@media (min-width: 768px) {
  .requests-table-toolbar select {
    margin-bottom: 0;
    max-width: 300px;
    width: auto; } }
@media (min-width: 768px) {
  .requests-table-toolbar .organization-subscribe,
  .requests-table-toolbar .organization-unsubscribe {
    margin-left: 10px; }

  [dir="rtl"] .requests-table-toolbar .organization-subscribe, [dir="rtl"]
  .requests-table-toolbar .organization-unsubscribe {
    margin: 0 10px 0 0; } }
.requests-table-toolbar + .requests-search-info {
  margin-top: 15px; }

.requests-table-toolbar + .requests-search-info.meta-data::after {
  content: "";
  margin: 0; }

.requests-table-toolbar + .requests-search-info + .requests {
  margin-top: 20px; }

.requests-table-toolbar + .requests {
  margin-top: 40px; }

.requests .requests-table-meta {
  display: block; }
.requests .requests-table thead {
  display: none; }
.requests .requests-table .requests-link {
  position: relative; }
.requests .requests-table .requests-sort-symbol {
  position: absolute;
  left: calc(100% + 3px);
  bottom: 0;
  font-size: 10px; }
.requests .requests-table-info {
  display: block; }

@media (min-width: 768px) {
  .requests .requests-table-meta {
    display: none; } }
@media (min-width: 768px) {
  .requests .requests-table thead {
    display: table-header-group; } }
@media (min-width: 768px) {
  .requests .requests-table-info {
    display: table-cell;
    vertical-align: middle;
    width: auto; } }
/* Following table */
.subscriptions-unsubscribe a {
  background: #008975;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  font-size: 12px;
  line-height: 2.34;
  padding: 0 20px;
  text-align: center;
  width: 100%; }
  .subscriptions-unsubscribe a:hover {
    background-color: #00231e;
    text-decoration: none; }

@media (min-width: 768px) {
  .subscriptions-unsubscribe a {
    width: auto; } }
.subscriptions-table td:last-child {
  display: block; }
.subscriptions-table td:first-child {
  display: flex;
  align-items: center; }
.subscriptions-table .user-avatar {
  margin-right: 10px; }

@media (min-width: 768px) {
  .subscriptions-table td:last-child {
    display: table-cell; } }
.subscriptions .striped-list-title {
  display: inline-block;
  vertical-align: middle; }

/* Contributions table */
.contributions-table td:last-child {
  color: rgba(51, 51, 51, 0.8);
  font-size: 13px;
  font-weight: 300; }

@media (min-width: 768px) {
  .contributions-table td:last-child {
    color: inherit;
    font-size: inherit;
    font-weight: inherit; } }
.no-activities {
  color: rgba(51, 51, 51, 0.8); }

/***** Request *****/
.request-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between; }
  .request-container .comment-container {
    min-width: 0; }

@media (min-width: 1024px) {
  .request-container {
    align-items: flex-start;
    flex-direction: row; } }
.request-breadcrumbs {
  margin-bottom: 40px; }

@media (min-width: 1024px) {
  .request-breadcrumbs {
    margin-bottom: 60px; } }
.request-main {
  flex: 1 0 auto;
  order: 1; }

.request-main .comment-fields,
.request-main .request-submit-comment {
  display: none; }

.request-main .comment-fields.shown {
  display: block; }

.request-main .request-submit-comment.shown {
  display: inline; }

@media (min-width: 1024px) {
  .request-main {
    flex: 0 0 66%;
    order: 0;
    min-width: 0; } }
.request-main .comment-form-controls {
  display: block; }

.request-main .comment-ccs {
  display: block; }

.request-main .comment-show-container {
  border-radius: 2px;
  border: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  padding: 8px 15px;
  width: 100%; }

.request-main .comment-show-container.hidden {
  display: none; }

.request-main .comment-show-container-content {
  align-self: center;
  color: rgba(51, 51, 51, 0.8);
  margin-left: 10px; }

.request-main .form-field.comment-ccs > ul {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0; }

.request-main .form-field.comment-ccs > ul[data-hc-focus="true"] {
  border: 1px solid #008975; }

.request-main .form-field.comment-ccs > input[type="text"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0; }

.request-main .comment-ccs + textarea {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0; }

.request-main .comment-ccs + textarea:focus {
  border-top: 1px solid #008975; }

.request-main input#mark_as_solved {
  display: none; }

.request-title {
  width: 100%; }

@media (min-width: 1024px) {
  .request-title {
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    max-width: 66%;
    padding-bottom: 20px; } }
.request-sidebar {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  flex: 1 0 auto;
  order: 0; }
  .request-sidebar h5 {
    font-size: 15px;
    font-weight: 600;
    position: relative; }

@media (min-width: 1024px) {
  .request-sidebar {
    background-color: #ececec;
    border: 0;
    font-size: 13px;
    flex: 0 0 auto;
    padding: 0 20px;
    width: 30%; } }
@media (min-width: 1024px) {
  .request-sidebar h5 {
    display: none; } }
.request-details {
  border-bottom: 1px solid #ddd;
  font-size: 0;
  margin: 0;
  padding-bottom: 20px; }
  .request-details:last-child {
    border: 0; }
  .request-details dt {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    margin: 20px 0 0 0;
    color: rgba(51, 51, 51, 0.8);
    font-weight: 300;
    width: 40%; }
  .request-details dd {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    margin: 20px 0 0 0;
    padding: 0 10px;
    width: 60%; }
    .request-details dd:after {
      content: "\A";
      white-space: pre; }
  .request-details .request-collaborators {
    display: inline-block; }

.request-attachments dt {
  margin: 10px 0 0 0;
  width: 100%; }

.request-attachments dd {
  margin: 10px 0 0 0;
  width: 100%; }

.request-form textarea {
  min-height: 120px; }

.request-follow-up {
  padding-top: 20px; }

/*# sourceMappingURL=myactivities.css.map */
