* {
  box-sizing: border-box; }

body {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

@media (min-width: 1024px) {
  body > main {
    min-height: 65vh; } }
h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin-top: 0; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 18px;
  font-weight: 600; }

h4 {
  font-size: 16px; }

a {
  color: #1676d3;
  text-decoration: none; }

a:hover, a:active, a:focus {
  text-decoration: underline; }

input,
textarea {
  color: #000;
  font-size: 14px; }

input {
  font-weight: 300;
  max-width: 100%;
  box-sizing: border-box;
  outline: none;
  transition: border .12s ease-in-out; }

input:focus {
  border: 1px solid #008975; }

input[disabled] {
  background-color: #ddd; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("../assets/dropdown-arrow.svg") no-repeat #fff;
  background-position: right 10px center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px 30px 8px 10px;
  outline: none;
  color: #555;
  width: 100%; }

select:focus {
  border: 1px solid #008975; }

select::-ms-expand {
  display: none; }

textarea {
  border: 1px solid #ddd;
  border-radius: 2px;
  resize: vertical;
  width: 100%;
  outline: none;
  padding: 10px; }

textarea:focus {
  border: 1px solid #008975; }

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 5%; }

@media (min-width: 1160px) {
  .container {
    padding: 0;
    width: 90%; } }
.container-divider {
  border-top: 1px solid #ddd;
  margin-bottom: 20px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.error-page {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 5%; }

@media (min-width: 1160px) {
  .error-page {
    padding: 0;
    width: 90%; } }
.dropdown-toggle::after {
  color: inherit; }

/***** Pagination *****/
.pagination {
  margin: 20px 0;
  text-align: center; }
  .pagination li {
    border-radius: 50%;
    height: 40px;
    float: left;
    margin-left: 5px;
    width: 40px; }
  .pagination a,
  .pagination span {
    font-size: 15px;
    color: rgba(51, 51, 51, 0.8);
    padding: 10px 12px; }

.pagination * {
  display: inline-block; }

@media (min-width: 768px) {
  .pagination li {
    height: 30px;
    width: 30px; } }
[dir="rtl"] .pagination li {
  float: right; }

.pagination li:hover:not(.pagination-current) {
  background-color: #f3f3f3; }

.pagination li:hover:not(.pagination-current) span, .pagination li:hover:not(.pagination-current) a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none; }

@media (min-width: 768px) {
  .pagination a, .pagination span {
    font-size: 13px;
    padding: 5px 12px; } }
.pagination-current {
  background-color: #008975; }
  .pagination-current a,
  .pagination-current span {
    color: rgba(0, 0, 0, 0.8); }

.pagination-first {
  border-radius: 3px 0 0 3px; }

[dir="rtl"] .pagination-first {
  border-radius: 0 3px 3px 0; }

.pagination-last {
  border-radius: 0 3px 3px 0; }

[dir="rtl"] .pagination-last {
  border-radius: 3px 0 0 3px; }

/*# sourceMappingURL=pagination.css.map */
